<section class="container content">
  <h1>New list</h1>
  <form method="POST" action="/lists">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <ul>
      <li>
        <label for="new-entry">Entry</label>
        <input type="text" name="text" id="new-entry">
      </li>
    </ul>
    <button>Add list</button>
  </form>
</section>
