<section class="container content">
  <form method="POST" action="/lists" class="list-name-form">
    <label for="name" hidden>Name</label>
    <input type="text" name="name" id="name" class="input is-large list-name-input" placeholder="List name" autofocus autocomplete="off">
    <button class="button">Add list</button>
  </form>
</section>
