<h1><%= list.name %></h1>
<ul>
  <% list.entries.forEach(entry => { %>
    <li><%= entry.text %> </li>
  <% }) %>
</ul>

<form method="POST" action="/lists/<%= list.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>
