<section class="container content">
  <h1>register</h1>
  <form method="POST" action="/register">
    <div class="control login">
      <label for="_forename">Forename</label>
      <input type="text" name="_forename" id="forename" class="input login" autofocus autocomplete="off">
    </div>
    <div class="control login">
      <label for="_surname">Surname/Family name</label>
      <input type="text" name="_surname" id="surname" class="input login" autocomplete="off">
    </div>
    <div class="control login">
      <label for="email">Email address</label>
      <input type="email" name="email" id="email" class="input login" autocomplete="off">
    </div>
    <div class="control login">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="input login" autocomplete="off">
    </div>
    <div class="control login">
      <label for="password-confirmation">Confirm Password</label>
      <input type="password" name="passwordConfirmation" id="password-confirmation" class="input login" autocomplete="off">
    </div>
    <div class="control login">
      <button class="button login">Register</button>
    </div>
  </form>
</section>
