<section class="container content">
  <h1>Register</h1>
  <form method="POST" action="/register">
    <label for="forename">Forename</label>
    <input type="text" name="forename" id="forename">
    <label for="surname">Surname/Family name</label>
    <input type="text" name="surname" id="surname">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="password-confirmation">Confirm Password</label>
    <input type="password" name="passwordConfirmation" id="password-confirmation">
    <button>Register</button>
  </form>
</section>
