<nav class="navbar">
  <div class="navbar-menu is-active">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">expressLists</a>      
    </div>
    <div class="navbar-start">
      <% if(!locals.isAuthenticated) { %>
        <% if(locals.listId) { %>
          <a class="navbar-item" href="/lists/<%= locals.listId %>">my first list</a>
        <% } else { %>
          <a class="navbar-item" href="/lists/my-first-list">my first list</a>
        <% } %>
        <a class="navbar-item" href="/login">login</a>
        <a class="navbar-item" href="/register">register</a>
      <% } else { %>
        <a class="navbar-item" href="/lists">lists</a>
        <a class="navbar-item" href="/lists/new">new list</a>
        <a class="navbar-item" href="/logout">logout</a>
      <% } %>
    </div>
  </div>
</nav>
