<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">expressLists</a>
    <button class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <% if(!locals.isAuthenticated) { %>
        <% if(locals.listId) { %>
          <a class="navbar-item" href="/lists/<%= locals.listId %>">my list</a>
        <% } else { %>
          <a class="navbar-item" href="/lists/my-first-list">make a list</a>
        <% } %>
        <a class="navbar-item" href="/login">login</a>
        <a class="navbar-item" href="/register">register</a>
      <% } else { %>
        <a class="navbar-item" href="/lists">lists</a>
        <a class="navbar-item" href="/lists/new">new list</a>
        <a class="navbar-item" href="/logout">logout</a>
      <% } %>
    </div>
  </div>
</nav>
