<section class="container content">
  <form method="POST" action="/login">
    <div class="control login">
      <label for="email">Email address</label>
      <input type="email" name="email" id="email" class="input login">
    </div>
    <div class="control login">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="input login">
    </div>
      <div class="control login columns">
        <button class="button login column is-narrow">Login</button>
      </div>
  </form>
</section>
