<section class="container content">
  <h1>login</h1>
  <form method="POST" action="/login">
    <div class="control login">
      <label for="email">Email address</label>
      <input type="email" name="email" id="email" class="input login">
    </div>
    <div class="control login">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="input login">
    </div>
    <div class="control login">
      <button class="button login">Login</button>
    </div>
  </form>
</section>
