body {
  font-family: 'Oxygen', sans-serif;
}

li {
  list-style-type: none;
}

input.input {
      border: none;
      box-shadow: none;
      &.list-name-input {
        font-weight: 500;
      }
      &.comment-input {
        border: 1px solid rgba(10,10,10,.1);
      }
}

.card {
  margin-bottom: 20px;
}

.hidden {
    display: none;
}
