@import "bulma/sass/utilities/initial-variables";

$primary: #6ab5ff;
$family-sans-serif: 'Oxygen', sans-serif;
$family-primary: $family-sans-serif;
$size-large: $size-3;
$border: $grey-lighter;
$border-hover: $border;
$card-shadow: 0 0 0 1px rgba($black, 0.1);

@import "bulma/bulma";


li {
  list-style-type: none;
}

input.input {
      border: none;
      box-shadow: none;
      padding-bottom: 5px;
      &.list-name-input {
        font-weight: $weight-semibold;
      }
      &.comment-input {
        margin-top: 5px;
        margin-left: 15px;
        font-size: $size-small;
      }
      &.comment-input {
        margin-bottom: 1rem;
        padding-bottom: 0;
        border-bottom: 1px solid $border;
        border-radius: 0;
      }
      &::placeholder {
        color: $grey-lighter;
      }
}

button.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: .5rem;
  border: none;
  color: $grey-light;
  padding: .625em;
  &.add-entry-button {
    padding: 1.5em 1em;
  }
  &.hidden {
    display: none;
  }
  &:hover {
    color: $grey;
  }
  &:active {
    border: none;
    box-shadow: none;
    color: $grey-dark;
  }
}

.card {
  margin-bottom: 0.25rem;
  .column {
    padding-bottom: 0.75rem;
  }
}

.hidden {
  display: none;
  &.comment-form {
    display: none;
  }
}

.column {
  padding: .5rem;
}

.column.justify-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field:not(:last-child) {
  margin: 0;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 0;
}

.checkbox-div {
  min-width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.comment-container {
  padding-top: 0;
}
